<h2>Search for Repositories</h2>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search term for repos</mat-label>
    <mat-chip-list #chipList aria-label="Repo search">
      <mat-chip *ngFor="let term of terms" (removed)="remove(term)">
        {{term}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input matInput #message maxlength="256" placeholder="Ex. I am searching for..." [(ngModel)]="searchquery"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
      <mat-hint align="start"><strong></strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-chip-list>
</mat-form-field>
<br>
<button (click)="getRepos()">Get Repos</button>
  

<mat-card class="example-card" *ngFor="let item of searchResults |slice:
(paginator.pageIndex*paginator.pageSize):
((paginator.pageIndex+1)*paginator.pageSize)">
    <mat-card-title >{{item.full_name}}</mat-card-title>
    <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{item.topics}}</p>
      <span>{{item.stargazers_count}} stars</span>&nbsp;&nbsp;
      <span>{{item.language}}</span>&nbsp;&nbsp;
      <span>Updated by {{item.updated_at | date: 'MMMM d, y'}}</span>&nbsp;&nbsp;
    </mat-card-content>
</mat-card><br>
<br>
<mat-paginator #paginator [length]="searchResults.length"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

