<h2>Search by User</h2>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search term for user</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I am searching for..." [(ngModel)]="searchUquery">
    <mat-hint align="start"><strong></strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
</mat-form-field>
<br>
<button (click)="getUserRepos()">Get User</button>

<mat-card class="example-card" *ngIf="searchUResults?.login">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url('{{searchUResults.avatar_url}}');"></div>
      <mat-card-title>{{searchUResults.login}}</mat-card-title>
      <mat-card-subtitle>{{searchUResults.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{searchUResults.avatar_url}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{searchUResults.bio}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a href="{{searchUResults.repos_url}}" class="mat-button">Public Repos</a>
    </mat-card-actions>
  </mat-card>
  